img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.section-title {
  display: none;
}

.hero__btn {
  display: block;
  width: 200px;
  height: 45px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 30px;
  background-color: #4985ff;
  margin: auto;
}

.apps-btn {
  display: block;
  width: 200px;
  height: 45px;
  margin: auto;
  font-weight: 500;
  color: #fff;
  background-color: #4985ff;
  box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
}

.specialisation-button {
  display: block;
  border: none;
  border-radius: 30px;
  width: 200px;
  height: 45px;
  background-color: #4985ff;
  color: #fff;
  font-weight: 500;
  margin: 50px auto;
  box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
}
@media screen and (min-width: 768px) {
  .specialisation-button {
    margin: 50px auto;
    max-width: 1200px;
  }
}

.subscription-button {
  width: 190px;
  height: 45px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 0 30px 30px 0;
  box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  background-color: #4985ff;
  border: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.specialisation {
  padding-top: 100px;
  padding-bottom: 85px;
  background: linear-gradient(to bottom, #504dc2 50%, #ffffff 50%);
}
.specialisation::after {
  content: "";
  display: block;
  background-color: #e0e0e0;
  width: 100%;
  height: 1px;
  margin: 50px auto;
}
.specialisation .section-title {
  padding-bottom: 100px;
  color: #fff;
  padding-top: 20px;
}

.specialisation-title {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  width: 100%;
  text-align: center;
  line-height: 1.1;
}

.ourprojects-photo {
  border-radius: 10px;
  width: 100%;
}

.specialisation-type {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 30px 0;
  text-align: center;
}
.specialisation-type .specialisation-type-num {
  color: #4985ff;
}

.specialisation-type-desc {
  font-weight: 400;
  font-size: 16px;
  color: #999;
  margin-bottom: 47px;
}

.specialisation-type-link {
  display: block;
  width: 100px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #4985ff;
  border-bottom: solid #4985ff 1px;
}

.specialisation-line {
  width: 1110px;
  height: 1px;
  background-color: #e0e0e0;
  margin: 85px 0;
}

@media screen and (min-width: 768px) {
  .specialisation-title {
    margin: auto;
    font-size: 35px;
  }
  .specialisation-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .specialisation-list .specialisation-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
.apps {
  padding-top: 80px;
  padding-bottom: 80px;
}

.apps__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 146%;
  text-align: center;
  color: #323232;
}

.apps__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.58;
  text-align: justify;
  color: #999;
}

.apps__item {
  display: flex;
  width: 350px;
}

.apps__wrapper {
  margin-top: 55px;
  margin-left: 17px;
}

.apps-item__title {
  margin-bottom: 12px;
}

.apps__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 35px;
  row-gap: 15px;
}

@media screen and (min-width: 768px) {
  .apps__list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
.standarts {
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: #f6f6f8;
}

.content-wrap {
  border-bottom: solid #e0e0e0 1px;
  padding-bottom: 50px;
}

.content-title {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}

.content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #999;
}

.content-link {
  margin-top: 42px;
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  color: #4985ff;
  display: block;
}

.standarts-photo {
  display: none;
}

.project-info-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  text-align: center;
}

.project-info-icon {
  width: 40px;
  height: 40px;
  padding-top: 14px;
}

.project-info-number {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.46;
  margin-left: 10px;
}

.project-info-text {
  margin-top: 10px;
  color: #999;
}

@media screen and (min-width: 768px) {
  .project-info-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .project-info-list .project-info-item {
    flex-basis: calc((100% - 40px) / 2);
    margin-bottom: 30px;
  }
}
.projects {
  padding-top: 100px;
  padding-bottom: 85px;
  background-color: #f6f6f8;
}

.projects-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 30px;
}

.projects-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  color: #999;
  margin-bottom: 65px;
}

.projects-list {
  align-items: baseline;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
}

.projects-img {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .projects-item + .projects-item {
    margin-top: 30px;
  }
}

.subscription {
  padding-top: 85px;
  padding-bottom: 85px;
}
@media screen and (min-width: 768px) {
  .subscription {
    padding-top: 0;
  }
}

.subscription-title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .subscription-title {
    font-size: 20px;
  }
}

.subscription-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #999;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .subscription-text {
    font-size: 18px;
  }
}

.subscription-info {
  font-weight: 400;
  font-size: 13px;
  line-height: 158%;
  text-align: center;
  color: #999;
}
@media screen and (min-width: 768px) {
  .subscription-info {
    font-size: 15px;
  }
}

.video {
  height: 735px;
  padding-top: 70px;
  background-image: url("/images/about-work.jpg");
  background-repeat: no-repeat;
}

.video-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
  margin-bottom: 9px;
}

.video-text {
  line-height: 1.58;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

.video-button-wrap {
  margin: 0 auto;
  height: 474px;
  width: 100%;
  background-image: url("/images/watch-video@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 188px 100px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .video-button-wrap {
    background-image: url("/images/whatch-video@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .video-button-wrap {
    width: 600px;
    max-width: 1200px;
    text-align: -webkit-center;
  }
}

.video-button {
  display: block;
  height: 100px;
  width: 100%;
  border-radius: 200px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .video-button {
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.button-info {
  display: none;
}
@media screen and (min-width: 768px) {
  .button-info {
    display: contents;
    color: #fff;
  }
}

.footer {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #f6f6f8;
}
.footer .footer-list {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.footer .footer-list .footer-item {
  margin-bottom: 15px;
}
.footer .footer-list .footer-item .footer-item-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}
.footer .footer-list .footer-item .footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.58;
  color: #999;
}
.footer .footer-list .footer-item .contact-item,
.footer .footer-list .footer-item .section-item,
.footer .footer-list .footer-item .customer-item,
.footer .footer-list .footer-item .socials-item {
  margin-bottom: 15px;
}
.footer .copyright {
  display: block;
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.58;
  text-align: center;
  color: #999;
}

@media screen and (min-width: 768px) {
  .footer .footer-list {
    display: flex;
    text-align: center;
  }
  .footer .footer-list .footer-item {
    margin-bottom: 15px;
  }
}
.subscription-form {
  display: flex;
  justify-content: center;
  text-align: center;
}
.subscription-form .subscription-input {
  width: 299px;
  height: 45px;
  padding-left: 33px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.58;
  color: #999;
  border-radius: 30px 0 0 30px;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .subscription-form .subscription-input {
    width: 319px;
  }
}

header {
  background-image: url("/images/hero@1x.jpg");
}
header .hero {
  padding-top: 150px;
  padding-bottom: 200px;
}
header .hero .hero__title {
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
header .hero .hero__info {
  font-weight: 800;
  font-size: 32px;
  line-height: 1.3409;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  header {
    background-image: url("/images/hero@2x.jpg");
  }
}

.nav {
  padding: 39px 0;
  border-bottom: solid #a1a1a1 1px;
}
.nav .nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
}
.nav .nav__list .nav__list-link {
  color: #fff;
  font-weight: 500;
}

@media screen and (min-width: 480px) {
  .nav .nav__list {
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 0;
  }
}
@media screen and (min-width: 768px) {
  .nav .nav__list {
    justify-content: space-around;
  }
}/*# sourceMappingURL=main.css.map */