.projects {
  padding-top: 100px;
  padding-bottom: 85px;
  background-color: $section-bg;
}

.projects-title {
  text-align: center;
  font-size: 30px;
  line-height: 1.1;
}

.projects-text {
  margin-bottom: 65px;
  line-height: 1.1;
  text-align: center;
  color: $grey;

  @media screen and (min-width: 1200px) {
    width: 730px;
    margin: 30px auto;
  }
}

.projects-list {
  align-items: baseline;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
}

.projects-img {
  margin: 0 auto;
}

.projects-item + .projects-item {
    @media screen and (max-width: 767px) {
        margin-top: 30px;
    }
}
