.apps {
  padding-top: 80px;
  padding-bottom: 80px;
}
.apps__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.46;
  text-align: center;
  color: $dark;
}
.apps__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.58;
  text-align: justify;
  color: $grey;
}
.apps__item {
  display: flex;
  width: 350px;

  .apps__icon {
    outline: solid $light-grey 1px;
    padding: 10px;
    border-radius: 100%;
  }
}
.apps__wrapper {
  margin-top: 55px;
  margin-left: 17px;
}

.apps-item__title {
  margin-bottom: 12px;
}
.apps-item__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.58;
  color: $grey;
}
.apps__list {
  @extend %flex-center;
  flex-direction: column;
  margin-bottom: 35px;
  row-gap: 15px;
}

@media screen and (min-width: 768px) {
  .apps__list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .apps {
    padding-top: 110px;
    padding-bottom: 105px;
  }
  .apps__title {
    width: 740px;
    margin: auto;
    font-size: 36px;
  }
  .apps__info {
    width: 730px;
    margin-top: 30px;
    text-align: center;
    margin: 30px auto 70px auto;
  }
  .apps__list {
    margin-bottom: 55px;
  }
  .apps__item {
    align-items: flex-start;
    margin-right: 30px;
  }
  .apps-item__title {
    font-size: 18px;
  }
  .apps-item__info {
    width: 220px;
  }
}
