.specialisation {
  padding-top: 100px;
  padding-bottom: 85px;
  background: linear-gradient(to bottom, #504dc2 50%, #ffffff 50%);

  &::after {
    content: "";
    display: block;
    // border: 1px solid $light-grey;
    background-color: $light-grey;
    width: 100%;
    height: 1px;
    margin: 50px auto;
  }

  .section-title {
    padding-bottom: 100px;
    color: $white;
    padding-top: 20px;
  }
}

.specialisation-title {
  font-weight: 700;
  font-size: 30px;
  color: $white;
  width: 480px;
  text-align: center;
  line-height: 1.1;
}

.ourprojects-photo {
  border-radius: 10px;
  width: 100%;
}
.specialisation-type {
  font-family: $font-family;
  font-weight: 600;
  font-size: 18px;
  margin: 30px 0;
  text-align: center;
  .specialisation-type-num {
    color: $bg-button-color;
  }
}

.specialisation-type-desc {
  font-weight: 400;
  font-size: 16px;
  color: $grey;
  margin-bottom: 47px;
}

.specialisation-type-link {
  display: block;
  width: 100px;
  margin-bottom: 20px;
  font-weight: 500;
  color: $bg-button-color;
  border-bottom: solid $bg-button-color 1px;
}

.specialisation-line {
  width: 1110px;
  height: 1px;
  background-color: $light-grey;
  margin: 85px 0;
}
@media screen and (min-width: 768px) {
  .specialisation-title {
    margin: auto;
    font-size: 35px;
  }
  .specialisation-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    .specialisation-item {
      flex-basis: calc((100% - 2 * 15px) / 2);
    }
  }
}