.apps {
  padding-top: 80px;
  padding-bottom: 80px;
}
.apps__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 146%;
  text-align: center;
  color: $dark;
  margin-bottom: 30px;
}
.apps__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.58;
  text-align: justify;
  color: $grey;
}
.apps__item {
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.apps__wrapper {
  margin-top: 55px;
  margin-left: 17px;
}

.apps-item__title{
  margin-bottom: 12px;
}

.apps__list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  margin-bottom: 35px;
}
.apps-btn {
  width: 200px;
  height: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: $bg-button-color;
  border: 0;
}
