.subscription-title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.subscription-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  text-align: center;
  color: $grey;
}

.subscription-form {
  text-align: center;
  display: flex;
  justify-content: center;

  .subscription-input {
    width: 299px;
    height: 45px;
    border-radius: 30px 0 0 30px;
    padding-left: 33px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.58;
    color: $grey;
    border: none;
    box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  }

  .subscription-button {
    border-radius: 0 30px 30px 0;
    width: 190px;
    height: 45px;
    box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
    background-color: $bg-button-color;
    border: none;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: $white;
  }
}

.subscription-info {
  font-weight: 400;
  font-size: 13px;
  line-height: 158%;
  text-align: center;
  color: $grey;
}
