.video {
  height: 735px;
  padding-top: 70px;
  background-image: url("/images/about-work.jpg");
  background-repeat: no-repeat;
}
.video-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1;
  text-align: center;
  color: $white;
  margin-bottom: 9px;
}
.video-text {
  line-height: 1.58;
  text-align: center;
  color: $white;
  margin-bottom: 50px;
}
.video-button-wrap {
  margin: 0 auto;
  height: 474px;
  width: 400px;
  background-image: url("/images/watch-video@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 188px 100px;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/whatch-video@2x.png");
  }
}
.video-button {
  display: block;
  height: 100px;
  width: 200px;
  border-radius: 200px;
  border: 1px solid $white;
  background-color: transparent;
}
.button-info {
  display: none;
}
