.video {
  padding-top: 70px;
  background-image: url("../images/about-work@1x.jpg");
  background-repeat: no-repeat;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/about-work@2x.jpg");
  }
}
.video-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1;
  text-align: center;
  color: $white;
  margin-bottom: 9px;
}
.video-text {
  line-height: 1.58;
  text-align: center;
  color: $white;
  margin-bottom: 50px;
}
.video-button-wrap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 430px;
  width: 100%;
  background-image: url("../images/watch-video@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 188px;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/whatch-video@2x.png");
  }

  @media screen and (min-width: 768px) {
    width: 600px;
    max-width: 1200px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    max-width: 1600px;
  }
}

.video::after {
  content: "";
  margin: 85px auto;
  display: block;
  background-color: $light-grey;
  margin: 85px auto 85px auto;
  width: 80%;
  height: 1px;
}
.video-button {
  display: block;
  height: 100px;
  width: 80%;
  border-radius: 200px;
  border: 1px solid $white;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
.button-info {
  display: none;

  @media screen and (min-width: 768px) {
    display: contents;
    color: $white;
  }
}
